@use "sass:map";
@use "../../../theme/varables/colors_variables" as colors_varibales;
@use "../../../theme/varables/typography_variables" as typography_variables;

.button {
  border: none;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: map.get(map.get(typography_variables.$typhography, "snippet"), "font-size");
  border-radius: 0.5em;

  &.primary {
    background-color: map.get(
      colors_varibales.$colors,
      "button-primary-background"
    );
    color: map.get(colors_varibales.$colors, "button-primary-text");

    &:hover {
      background-color: map.get(
        colors_varibales.$colors,
        "button-primary-hover-background"
      );
    }
  }

  &.default {
    background-color: map.get(
      colors_varibales.$colors,
      "button-default-background"
    );
    color: map.get(colors_varibales.$colors, "button-default-text");

    &:hover {
      background-color: map.get(
        colors_varibales.$colors,
        "button-default-hover-background"
      );
    }
  }

  &.ghost {
    background-color: transparent;
    color: map.get(colors_varibales.$colors, "button-ghost-text");
    border: 1px solid
      map.get(colors_varibales.$colors, "button-ghost-text");

    &:hover {
      color: map.get(colors_varibales.$colors, "button-ghost-text");
      border-color: map.get(
        colors_varibales.$colors,
        "button-ghost-hover-text"
      );
    }
  }
}
