@use "sass:map";
@use "../../theme/varables/colors_variables" as colors_variables;

$border-color: map.get(colors_variables.$colors, "line-color");

.editor {
  &__header {
    border-bottom: 0.1rem solid $border-color;
    height: 4.06rem;

    &__file {
      padding: 1rem 1.4rem;
      border-right: 0.1rem solid $border-color;

    

      &__icon{
        font-size: 1.6rem;
        overflow: hidden;
        height: 1.4rem;
      }
    }
  }
}
