@use "./varables/colors_variables" as colors_variables;

@each $name, $color in colors_variables.$colors {
  .clr-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
    &:hover {
      background-color: $color;
    }
  }
  .border-clr-#{$name} {
    border-color: $color;
  }
}
