@use "./varables/font_size_variables" as font_size_variables;

:root {
  @each $name, $font_size in font_size_variables.$font-size {
    --theme-font-size-#{$name}: #{$font_size};
  }
}

@each $name, $font_size in font_size_variables.$font-size {
  .font-size-#{$name} {
    font-size: var(--theme-font-size-#{$name});
  }
}

@font-face {
  font-family: "Fira Code";
  src: url("./fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
