@use "sass:map";
@use "./varables/typography_variables" as typography_variables;

@font-face {
  font-family: "Fira Code";
  src: url("./fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 1 900;
  font-style: normal;
  font-display: swap;
}

@each $name, $typography in typography_variables.$typography {
  .text-#{$name} {
    font-family: map.get($typography, "font-family");
    font-weight: map.get($typography, "font-weight");
    font-size: map.get($typography, "font-size");
    letter-spacing: 0.1rem;
  }
}
