@use "sass:map";
@use "../../theme/varables/colors_variables" as colors_variables;
@use "../../theme/varables/sizes_variables" as sizes_variables;

$header-height: sizes_variables.$header-height;
$selected-tab-border-color: map.get(colors_variables.$colors, "accent-100");
$selected-tab-text-color: map.get(colors_variables.$colors, "white");
$border-color: map.get(colors_variables.$colors, "line-color");

.header {
  height: $header-height;

  &__tab {
    &::after {
      content: "";
      position: absolute;
      bottom: -0.1rem;
      left: -0.1rem;
      right: -0.1rem;
      height: 0.3rem;
      background: $selected-tab-border-color;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &--selected {
      color: $selected-tab-text-color;
      &::after {
        opacity: 1;
      }
    }
  }

  &__name {
    width: 31.1rem;
  }

  &__border {
    &--bottom {
      border-bottom: 0.1rem solid $border-color;
    }
    &--right {
      border-right: 0.1rem solid $border-color;
    }
    &--left {
      border-left: 0.1rem solid $border-color;
    }
  }

  &__mobile-menu {
    height: 0;
    top: $header-height;
    z-index: 888;
    overflow-y: hidden;
    transition: height 0.3s;

    &--show{
      height: calc(100vh - $header-height);
    }
  }
}
