@use "sass:map";
@use "../../theme/varables/sizes_variables" as sizes_variables;
@use "../../theme/varables/colors_variables" as colors_variables;

$footer-height: sizes_variables.$footer-height;
$border-color: map.get(colors_variables.$colors, "line-color");

.footer {
  height: $footer-height;

  &__border {
    &--top {
      border-top: 0.1rem solid $border-color;
    }
    &--right {
      border-right: 0.1rem solid $border-color;
    }
    &--left {
      border-left: 0.1rem solid $border-color;
    }
  }

  &__logo {
    width: 2rem;
    height: 2rem;
  }
}
