@use "sass:map";
@use "../../theme/varables/sizes_variables" as sizes_variables;
@use "../../theme/varables/colors_variables" as colors_variables;
@use "/node_modules/bootstrap/scss/bootstrap" as bootstrap;

.hello-page {
  @include sizes_variables.set-page-dimensions();

  padding-top: 7rem;
  padding-bottom: 7rem;
  @include bootstrap.media-breakpoint-up(sm) {
    padding-top: 18rem;
    padding-bottom: 7rem;
  }

  &__bg-blurs {
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    animation: fadeInBgBlurs 1s ease-in forwards;
  }
}

@keyframes fadeInBgBlurs {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.35;
  }
}

@keyframes cursor-blink-animation {
  0%,
  100% {
    border-right: 0.2rem solid map.get(colors_variables.$colors, "white");
  }
  50% {
    border-right: none;
  }
}

.cursor-blink {
  animation: cursor-blink-animation 1s infinite;
}
