@use "sass:map";
@use "../../theme/varables/sizes_variables" as sizes_variables;
@use "../../theme/varables/colors_variables" as colors_variables;
@use "/node_modules/bootstrap/scss/bootstrap" as bootstrap;

.hello-page {
  width: 100%;
  min-height: calc(
    100vh - sizes_variables.$header-height - sizes_variables.$footer-height
  );
  padding-top: 18rem;

  &__bg-blurs {
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    animation: fadeInBgBlurs 1s ease-in forwards;
  }
}

@keyframes fadeInBgBlurs {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.35;
  }
}


@keyframes cursor-blink-animation {
  0%,
  100% {
    border-right: 0.2rem solid map.get(colors_variables.$colors, "white");
  }
  50% {
    border-right: none;
  }
}

.cursor-blink {
  animation: cursor-blink-animation 1s infinite;
}
